

<table>

  <tbody>
    <tr *ngFor="let user of users">
        <h2>{{ user.payload.doc.data().child_name }}'s score</h2>
      <table>
          <tr>
              <th>Date</th>
              <td *ngFor="let date of barChartData[0].data">
                {{ date }}
              </td>
            </tr>
            <tr>
                <th>Score</th>
                <td *ngFor="let value of barChartLabels">

                  {{ value}}
                </td>
              </tr>
      </table>     
    </tr>
  </tbody>
</table>


<h5>A value above 40 indicates a possibility of depression.</h5>
<ul>
  <li></li>
</ul>
<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="options"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              >
      </canvas>
    </div>
  </div>